<strong>Password recovery</strong>

<p>A password recovery request was made for the e-mail ({{ email }}). If you did not requested to reset the password, it is recommended to change your password</p>

<p>To set your new password, please use the token {{ token }} or click the link below: </p>

<a href="{{ link }}">Create new password</a>
